/**
!/.gitignore

!/README.md

!/docs
!/docs/**/
!/docs/img/*.svg
!/docs/img/*.png
!/docs/img/*.ico
!/docs/styles/*.css
!/docs/**/*.html

!/src
!/src/**/*.go
!/src/**/*.js

**/*__archive__

!/**/.gitkeep
