/**
!/.gitignore

!/README.md

!/docs
!/docs/*.html
!/docs/img
!/docs/img/*.svg
!/docs/img/*.png
!/docs/img/*.ico
!/docs/static
!/docs/static/*.css

!/src
!/src/**/*.go
!/src/**/*.js

**/*__archive__

!/**/.gitkeep
